
   

    <section class="hero py-16 px-16">
        <div class="container mx-auto flex items-center justify-between">
            <div class="w-1/2">
             <h3 class="text-2xl">Dirty clothes?</h3>
            <h1 class="text-6xl font-bold">Schedule Pickup</h1>
            <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Schedule Now</button>
            
            </div>
            <div class="w-1/2">
                <img src="/img/hero-final.jpg" alt="">

            </div>
        </div>
    </section>


    <section class="menu container mx-auto py-8 px-8">

        <h1 class="text-xl font-bold mb-8 ">Types of Clothes</h1>
        <div>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/img/cotton.jpg" alt="">
                <div class="text-center">
                    <h1 class="mb-4 text-lg uppercase">tshirt</h1>
                    <div class="flex items-center justify-around">
                        <span>RS.10</span>
                        <button class="add-to-cart py-1 px-6 rounded-full">
                            <span>add</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    