<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">

</head>
<body>
    <nav class="container mx-auto flex items-center justify-between py-4 px-5
    ">
        <div>
            
            <h1 class="text-3xl font-bold">Easy Laundry</h1>
        </div>
        <div>
            <ul class="flex items-center">
                <li class="ml-6"><a href="/"><h6 class="text-lg ">Home</h6></a></li>
                
                <li class="ml-6"><a href="/login"><h6 class="text-lg ">Login</h6></a></li>
                <li class="ml-6"><a href="/register"><h6 class="text-lg ">Register</h6></a></li>
                <li class="ml-6"><a href="/cart" class="flex items-center">
                    <span id="cartCounter"><%= session.cart?session.cart.totalQty:''%></span>
                    <h6 class="text-lg flex ">Cart</h6>
                
                </a></li>
            </ul>
        </div>
    </nav>


    
   <%-body-%>

    <script src="/js/app.js"></script>
</body>
</html>