<section class="orders light-section">

    <div class="inline-block pt-8 ml-10"><h1 class="font-bold text-xl mb-4">All orders</h1></div>
        
    <div class=" flex container mx-auto pt-5">
      
        <table class="w-full table-auto bg-white ml-10 mr-16">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Pickup Time</th>
                    <th class="px-4 py-2 text-left">Orders</th>
                    <th class="px-4 py-2 text-left">Customer</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">status</th>
                    <th class="px-4 py-2 text-left">Placed at</th>
                    <th class="px-4 py-2 text-left">Payment Status</th>
                </tr>
            </thead>
            <tbody id="orderTableBody">
            </tbody>
        </table>
    </div>
</section>