@import './_variables.scss';

body{
    font-family: sans-serif;
    color:$dark;
}


section.hero

{
    background:$secondary;

}

.add-to-cart
{
    border:2px solid $primary;
    color:$primary;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
}