

<section class="cart">


    <div class="order container mx-auto w-1/2">
        <div class="  flex items-center border-b border-gray-400 pb-4">
            <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
        </div>

        <div class=" mb-4 pizza-list">
            <div class="flex item-center mt-10">
            <img class="w-24 " src="/img/cotton.jpg" alt="">
            <div class="ml-4 mr-4 flex-1">
                <h1>tshirt</h1>
            </div>
            <span class="flex-1">quantity</span>
            <span class="font-bold text-lg ">RS.10</span>
        </div>
        </div>
        <hr >
        <div class="text-right py-10">
            <div >
                <span>Total amount:</span>
                <span class="font-bold text-lg">RS.100</span>
            </div>

            <div >
                <form action="" class="mt-10 mb-10">

                    <input class="border-gray-400 border p-4 w-1/2 mb-2  " type="text" placeholder="time">
                    <input class="border-gray-400 border p-4  w-1/2 mb-2" type="text" placeholder="Mobile number">
                    <input class="border-gray-400 border p-4 w-1/2 " type="text" placeholder="Hostel name">
                    <div class="mt-10 ">
                        <button type="submit" class="btn-primary rounded-full px-6 py-2 text-white font-bold ">ORDER NOW</button>
                    </div>

                </form>
            </div>

            <a href="" class="btn-primary rounded-full px-6 py-2 text-white font-bold"> Login to continue</a>

        </div>
    </div>
    <!-- <div class="empty-cart mt-12">
   
        <div class="container mx -auto text-center">
       
         <h1 class="text-3xl font-bold mb-8">Cart Empty</h1>  
           <p class="mb-12 ">
               no items
           </p>
           <a href="/" class="btn-primary mt-12 inline block px-6 py-1 rounded-full" >Go back</a>
       
       </div>
    </div>

    -->
</section>